body {
    background: rgb(125, 198, 205);
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: arial;
    }
header {
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    }
h1 {
    margin: 10px;
    font-family: 'Ubuntu', sans-serif;
    }
#all-contents {
    max-width: 800px;
    margin: auto;
    }
    
/* navigation menu */

nav {
    background: rgb(0,76,84);
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    padding: 10px;
    border-radius:15px 50px 30px 15px;
    }
nav header {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    flex: 1;
    }
nav ul {
    list-style-image: none;
    }
nav li {
    display: inline-block;
    padding: 0 10px;
    font-size: 20px;
    font-family: 'PT Sans Narrow', sans-serif;
    }
nav a {
    text-decoration: none;
    color: #fff;
    }
    
/* main container area beneath menu */

main {
    background: rgb(165,172,175);
    display: flex;
    }
.content {
    flex: 1;
    padding: 15px;
    }

/* portfolio styles */

#portfolio {
    list-style-type: none;
    padding-left: 0;
    }
#portfolio li {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    }
#portfolio li:hover {
    background: #eee;
    } 
#portfolio a {
    text-decoration: none;
    color: #454545;
    }